.randomRecipe, .allRecipes .recipe {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}

.randomRecipe {
  height: 280px;
  position: relative;
}

.recipe img, .randomRecipe .picture {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border: 0px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto;
  transition: transform 0.5s;
}

.recipe:hover img{
  transform: scale(1.08);
}

.description {
  margin-top: -10px;
  height: 70px;
  padding: 10px 10px 5px;
  background-color: white;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  z-index: 5;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.name {
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.attributes {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  color: rgb(103, 103, 103);
}

/* random generator */
main {
  position: absolute;
}
