body {
  margin: 0;
}

.sidebar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main {
  position: absolute;
  top: 125px;
  left: 270px;
  right: 15px;
  font-family: Arial, Helvetica, sans-serif;
}


@media (min-width: 1250px) {
  .allRecipes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 35px;
  }
}

@media (min-width: 908px) and (max-width: 1250px) {
  .allRecipes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 35px;
  }
}

@media (min-width:508px) and (max-width: 908px) {
  .allRecipes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    column-gap: 35px;
  }

}

@media (max-width: 508px) {
  .allRecipes {
    width: 100%;
    display: none;
  }
}
